/* --- EASYDROPDOWN METRO THEME --- */

/* PREFIXED CSS */

.dropdown,
.dropdown div,
.dropdown li,
.dropdown div::after,
.dropdown .carat,
.dropdown .carat:after,
.dropdown .selected::after,
.dropdown:after {
	-webkit-transition: all 150ms ease-in-out;
	-moz-transition: all 150ms ease-in-out;
	-ms-transition: all 150ms ease-in-out;
	transition: all 150ms ease-in-out;
}

.dropdown .selected::after,
.dropdown.scrollable div::after {
	-webkit-pointer-events: none;
	-moz-pointer-events: none;
	-ms-pointer-events: none;
	pointer-events: none;
}

/* WRAPPER */

.dropdown {
	position: relative;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	width: 100%;
	height: 34px;
	background: #E3E8EC;
	border-radius: 4px;
}

.dropdown.open {
	z-index: 2;
}

.dropdown:after {
	content: '';
	position: absolute;
	right: 3px;
	bottom: 3px;
	top: 2px;
	width: 30px;
	background: transparent;
}

/* CARAT */

.dropdown .carat {
	z-index: 1;
	background: url('../img/arrow-select.svg') no-repeat center center;
	background-size: contain;
	width: 8px;
	height: 13px;
	position: absolute;
	top: 0;
	right: 14px;
	bottom: 0;
	left: auto;
	margin: auto;
}

.dropdown.open .carat {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}

/* OLD SELECT (HIDDEN) */

.dropdown .old {
	position: absolute;
	left: 0;
	top: 0;
	height: 0;
	width: 0;
	overflow: hidden;
}

.dropdown select {
	position: absolute;
	left: 0px;
	top: 0px;
}

.dropdown.touch .old {
	width: 100%;
	height: 100%;
}

.dropdown.touch select {
	width: 100%;
	height: 100%;
	opacity: 0;
}

/* SELECTED FEEDBACK ITEM */

.dropdown .selected,
.dropdown li {
	display: block;
	padding: 11px 16px;
	overflow: hidden;
	font-family: 'Hero New', sans-serif;
	font-size: 16px;
	color: #313A49;
}

/* DROP DOWN WRAPPER */

.dropdown div {
	position: absolute;
	height: 0;
	left: 0;
	right: 0;
	top: 100%;
	margin-top: -1px;
	background: #f8f8f8;
	overflow: hidden;
	opacity: 0;
}

.dropdown:hover div {
	background: #f4f4f4;
}

/* Height is adjusted by JS on open */

.dropdown.open div {
	opacity: 1;
	z-index: 2;
}

/* FADE OVERLAY FOR SCROLLING LISTS */

.dropdown.scrollable div::after {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 50px;

	box-shadow: inset 0 -50px 30px -35px #f8f8f8;
}

.dropdown.scrollable:hover div::after {
	box-shadow: inset 0 -50px 30px -35px #f4f4f4;
}

.dropdown.scrollable.bottom div::after {
	opacity: 0;
}

/* DROP DOWN LIST */

.dropdown ul {
	width: 100%;
	height: auto;
	list-style: none;
	overflow: hidden;
	background: #FFFFFF;
	box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.3);
}

.dropdown .wrap-ul {
	max-height: 238px;
	overflow: auto;
	box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.3);
}

.dropdown.open .wrap-ul {
	overflow: visible;
}

.dropdown.scrollable.open ul {
	overflow-y: auto;
}

/* DROP DOWN LIST ITEMS */

.dropdown li {
	list-style: none;
	padding: 10px 12px;
}

/* .focus class is also added on hover */

.dropdown li.focus {
	background: #FF4F12;
	position: relative;
	z-index: 3;
	color: #fff;
}

.dropdown li.active {
	background: #FF4F12;
	color: #fff;
}
